<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library</title>
    <link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" href="" th:href="@{css/style.css}" />
</head>

<body>
  <!-- ======== header started ========= -->
  <header>
    <div class="my-nav">
      <div class="container">
        <div class="row">
          <div class="nav-items">
            <div class="menu-toggle">
              <div class="menu-hamburger"></div>
            </div>
            <div class="logo">
              
            </div>
            <div class="menu-items">
              <div class="menu">
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- ======== main started ========= -->

  <main class="charity-01-main">

      <!-- ======== banner started ========= -->
    <section class="banner">
      <!-- <div class="shap-svg-01">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="600px" height="600px" viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="Layer_2">
            <circle style="fill:#FFE4EC;" cx="296.333" cy="301.333" r="283.666" />
          </g>
        </svg>
      </div> -->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wrapper">
              <div class="content">
                <h1>The ideal company for you is a book</h1>
                <br><br><br>
                <div class="btn-002">
                  <ul>
                    <li><a href="" th:href="@{userlogin}">User Login</a></li>
                    <li><a href="" th:href="@{adminlogin}"> Admin Login</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-wrapper">
              <div class="banner-img">
                <img src="" th:src="@{/images/l.png}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-001">
              <h2>About</h2>
              <p>On September 25, 2022, in Bangalore, Karnataka, it was established. It has numerous branches located all around Bangalore.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 ">
            <div class="_do_er_xs">
              <div class="_kl_de_s">
                <img src="" th:src="@{/images/l2.png}">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="_do_er_xs">
              <p>It consists of a selection of documents, books, or other media that may be used instead of merely being displayed. 
              The scale of a building can vary significantly, and it might be structured for use and maintenance by a public body like the government, an institution like a school or museum, a corporation, or a private person. 
              The services of librarians, who are trained and experts at finding, selecting, circulating, and organising information as well as interpreting information needs, navigating, 
              and analysing extremely large amounts of information with a variety of resources, are offered by libraries in addition to the materials they offer..</p>
              <p> we frequently offer study spaces that are both private and communal for group work and collaboration. 
              They may also offer public access to their technological resources, such as computers and Internet connection.</p>
            </div>
          </div>
        </div>
      </div>
    </section>   
</body>
</html>