




<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<style>
body{
    background-color: #fff;
}
    .error {
        color: red;
    }
container
{
  width:50px;

}

</style>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li>
      <a href="" th:href="@{userr}">
<button style="background-color: #F47C7C ; padding-left:12px; margin-left:1400px; color: white; border-radius: 5px; height: 40px; width: 120px; font-size: 18px; border: none;">Sign Up</button>
</a>  
</li> 
<li>
 <a href="" th:href="@{index}">
<button style="background-color: #F47C7C; padding-left:12px; margin-left:90px; color: white; border-radius: 5px; height: 40px; width: 120px; font-size: 18px; border: none;">Home</button>
</a>  
</li> 
    </ul>
  </div>
</nav>
<br>
<br><br><br><br><br><br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center" style="font-family:georgia,garamond,serif;font-weight: bold;"> Login</h1>
				<div class = "card-body">
					<form th:action="@{/usersubmit}" th:object = "${user}" method="POST">
						<div class ="form-group">
					<div class ="form-group">
							<label> User User Name </label>
							<input
							type = "text"
							name = "uname"
							th:field = "*{uname}"
							class = "form-control"
							placeholder="Enter User User Name" 
							required="required"
							/>
						
						<div class ="form-group">
							<label> User Password </label>
							<input
							type = "text"
							name = "password"
							th:field = "*{password}"
							class = "form-control"
							placeholder="Enter User Password" 
							required="required"
							/>
						</div>
								<button style="background-color: #FF6464 ; padding-left:10px; margin-left:200px; color: white; border-radius: 8px; height: 50px; width: 120px; font-size: 18px; border: none;">Submit</button>
						</div>
					</form>
				</div>
						<div th:if=${session.msg}>
		          <div class="alert alert-danger" role="alert" th:text="${session.msg}">
		           </div>
		     <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	           </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>