<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Library Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/udashboard}">Dashboard </a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>List Book</h1>
		</div>
		<br>
		<br>



		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
				    <th>Book ID</th>
					<th>Book Name</th>
					<th>Book Author Name</th>
					<th>Book Publisher</th>
					<th>Published Date</th>
					<th>Borrowed Date</th>
					<th>Return Date</th>
					<th>Status</th>
					
					
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="bk: ${uborrow}">
				    <td th:text="${bk.id}"></td>
					<td th:text="${bk.bname}"></td>
					<td th:text="${bk.bauthor}"></td>
					<td th:text="${bk.bpublisher}"></td>
					<td th:text="${bk.pdate}"></td>
					<td th:text="${bk.bdate}"></td>
					<td th:text="${bk.rdate}"></td>
					<td th:text="${bk.status}"></td>
				</tr>
			</tbody>
      </table>
	</div>
</body>
</html>