<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Library Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/udashboard}">Dashboard </a></li>
			</ul>
		</div>
	</nav>
	<br><br><br>
<form th:action="@{/vbooksubmit}" method="get">
  <input type="text" name="keyword" th:value="${keyword}"  placeholder="Enter Book Name" size="30" radius="20px" style=" margin-left:1200px; hover:#FF6464;"><i class="fa fa-edit" ></i>
   <button style="background-color: #FF6464 ; padding-left:10px; margin-left:30px; color: white; border-radius: 5px; height: 35px; width: 80px; font-size: 18px; border: none;">search</button>
 <button style="background-color: #FF6464 ; padding-left:10px; margin-left:30px; color: white; border-radius: 5px; height: 35px; width: 80px; font-size: 18px; border: none;">Reset</button>
  </form>
  
	<div class="container">
		<div class="row">
			<h1>List Book</h1>
		</div>
		<br>
		<br>

<div th:if=${session.var}>
		          <div class="alert alert-danger" role="alert" th:text="${session.var}">
		           </div>
		     <th:block th:text="${#session.removeAttribute('var')}"></th:block>
	           </div>
	           
<div th:if=${session.same}>
		          <div class="alert alert-danger" role="alert" th:text="${session.same}">
		           </div>
		     <th:block th:text="${#session.removeAttribute('same')}"></th:block>
	           </div>
	           
	 <div th:if=${session.br}>
		          <div class="alert alert-success" role="alert" th:text="${session.br}">
		           </div>
		     <th:block th:text="${#session.removeAttribute('br')}"></th:block>
	           </div>          

		<table class="table table-striped table-bordered">
			<thead class="table-danger">
				<tr>
					<th>Book Name</th>
					<th>Book Author Name</th>
					<th>Book Publisher</th>
					<th>Published Date</th>
					<th>Book Copies</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="bk: ${book}">
					<td th:text="${bk.bname}"></td>
					<td th:text="${bk.bauthor}"></td>
					<td th:text="${bk.bpublisher}"></td>
					<td th:text="${bk.pdate}"></td>
					<td th:text="${bk.bcopies}"></td>
					<td><a th:href="@{/viewbook/{id}(id=${bk.id})}"
						class= btn
						style="background-color: #FF6464 ; padding-left:10px; margin-left:20px; color: white; border-radius: 8px; height: 40px; width: 80px; font-size: 18px; border: none;">Borrow</a></td>
						
				</tr>
			</tbody>

		</table>
	</div>
	<div th:if=${session.msg}>
		          <div class="alert alert-danger" role="alert" th:text="${session.msg}">
		           </div>
		     <th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	           </div>
</body>
</html>